<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css'/>
  </head>
  <body>
    <div id="background">
      <div id="page">
          {{{body}}}
      </div>
    </div>

  </body>
</html>
